@model Vidly.Web.ViewModel.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
}

<h2>Random</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h2>@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <text>No hay clientes registrados!</text>
}
else
{
    <ul>
        @foreach (var item in Model.Customers)
        {
            <li>
                @item.Name
            </li>
        }
    </ul>
}
